.mobile {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	top: 70px; left: 0;
	width: 80vw; height: calc(100vh - 70px);
	padding: 0 15px;
	transform: translateX(-100%);
	background: $black;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: transform .3s ease-in;
	will-change: transform;
	z-index: 4;

	pointer-events: none;

	&__menu {

		&-item:not(:last-child) {
			margin-bottom: 15px;
		}

		&-link {
			font-family: $light;
			font-weight: 300;
			font-size: 22px;
			line-height: 1;
			color: $white;
		}
	}
}

.menu-opened .mobile {
	transform: translateX(0);
	transition: transform .3s ease-out;

	pointer-events: auto;
}

.menu-opened .header__burger {

	&-line:first-child { transform: rotate(45deg); }
	&-line:nth-child(2) { display: none; }
	&-line:last-child { margin: 0; transform: rotate(-45deg); }
}

@media screen and (max-width: 1200px) {

	.header,
	.block {
		padding-left: 15px;
		padding-right: 15px;
	}

	br {
		display: none;
	}

	.header__logo-img {
		width: 160px;
	}

	.header__menu-item {
		margin: 0 10px;
	}

	.header__callback-phone {
		font-size: 20px;
		letter-spacing: calc(20px * .035);
	}

	.intro__advantages {
		align-items: flex-start;
	}

	.intro__advantages-item:nth-child(2) .intro__advantages-img {
		margin-bottom: 6px;		
	}

	.clients__list-item_content {
		padding: 60px 10px 10px;
	}


	.contacts__links {
		margin-left: 52.5px;
	}

	.mfp-ready ~ .header {
		padding-right: 32px;
	}
}

@media screen and (max-width: 1024px) {

	.contacts__address,
	.contacts__links {
		margin-left: 0;	
	}

	.mfp-wrap {
	  -webkit-overflow-scrolling: touch;
	  -webkit-transform: translateZ(0);
	}

	.mfp-helper,
	.mfp-helper body {
	  height: 100vh;
	}

	.mfp-helper body {
	  overflow: hidden;
	  -webkit-transform: translateZ(0);
	}
}

@media screen and (max-width: 1023px) {

	.header__menu,
	.header__callback {
		display: none;	
	}

	.header__callback--mobile,
	.header__burger {
		display: block;
	}

	.header__callback--mobile {
		margin-top: 40px;
	}

	.intro__advantages-item {
		padding: 0 15px;
	}

	.services__list-item,
	.team__list-member {
		max-width: none;
		width: 50%;
	}

	.clients__slide {
		justify-content: center;
	}

	.clients__slide:nth-child(2) {
		margin-top: 30px;
	}

	.director__block {
		flex-direction: column;
		align-items: center;
		padding: 0;
	}

	.director__block-photo {
		margin-top: 0;
	}

	.director__block-text {
		margin: 35px 0 0;
		text-align: center;
	}

	.contacts {
		flex-direction: column;
	}

	.contacts__map,
	.contacts__content {
		width: 100%;
	}

	.contacts__content {
		padding: 55px 15px;
		height: auto;
	}

	.contacts__inner {
		max-width: none;
		padding: 0;
	}

	.contacts__address,
	.contacts__links {
		justify-content: center;
	}

	.contacts__links {
		flex-direction: column;
		margin-top: 0;
	}

	.contacts__links-phone,
	.contacts__links-email {
		margin: 15px 0 0 0;
	}
}

@media (max-width: 900px) {

	.mfp-container.mfp-container {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 768px) {

	.intro__advantages-item,
	.services__list-item,
	.videos__list-item,
	.clients__list-item,
	.team__list-member {
		width: 100%;
	}

	.contacts__address .icon-location {
		display: none;
	}

	.block {
		padding-top: 55px;
		padding-bottom: 55px;
	}

	.block__title {
		font-size: 38px;
		letter-spacing: calc(38px * .035);
	}

	.block__title:after {
		width: 260px; height: 78.89px;
		background-size: 100% 100%;
	}

	.intro {
		height: auto;
		padding-top: 100px;
	}

	.intro__title-text {
		display: block;
		margin: 20px 0;
	}

	.intro__subtitle {
		font-size: 42px;
	    line-height: 38px;
	    letter-spacing: calc(42px * .04);
	}

	.intro__advantages {
		flex-wrap: wrap;
	}

	.intro__advantages-item {
		padding: 0;
	}

	.intro__advantages-item:not(:last-child) {
		margin-bottom: 50px;
	}

	.intro__advantages-img {
		margin-bottom: 0px !important;
	}

	.services__list-item_content {
		padding-left: 0;
		padding-right: 0;
		border-color: $pink;
	}

	.services__list-item_btn {
		opacity: 1;
		pointer-events: auto;
	}

	.videos__list {
		flex-wrap: wrap;
	}

	.videos__list-item {
		margin: 0;
	}

	.videos__list-item:last-child {
		margin-top: 20px;
	}

	.videos__list-item .icon-play {
		top: 32px;
	}

	.clients__list-item,
	.clients__list-item:not(:first-child) {
		margin: 0 0 50px;
	}

	.clients__list-item_content {
		height: auto;
		padding-bottom: 60px;
	}

	.clients__slide {
		flex-wrap: wrap;
		margin-bottom: -50px;
	}

	.clients__slide:nth-child(2) {
		margin-top: 0;
	}

	.team__list {
		flex-wrap: wrap;
		margin-bottom: -50px;
	}

	.team__list-member {
		margin-bottom: 50px;
	}

	.team__text {
		margin-top: 60px;
	}

	.director__block-text:after {
		content: none;
	}

	.modal {
		padding-top: 70px;
	}

	.modal__input {
		padding: 0;
	}

	.modal__input .icon {
		left: 5px;
	}

	.modal--callback [type="submit"].btn,
	.modal--consult [type="submit"].btn {
		font-size: 18px;
    	letter-spacing: calc(18px * .035);
	}

	form [type=email],
	form [type=tel],
	form [type=text] {
		padding-left: 45px;
	}
}