@font-face {
    font-family: 'Geometria Light';
    src: url('../fonts/Geometria/GeometriaLight.otf') format('opentype'),
         url('../fonts/Geometria/GeometriaLight.woff') format('woff');
}

@font-face {
    font-family: 'Geometria Regular';
    src: url('../fonts/Geometria/GeometriaRegular.otf') format('opentype'),
         url('../fonts/Geometria/GeometriaRegular.woff') format('woff');
}

@font-face {
    font-family: 'Geometria Medium';
    src: url('../fonts/Geometria/GeometriaMedium.otf') format('opentype'),
         url('../fonts/Geometria/GeometriaMedium.woff') format('woff');
}

@font-face {
    font-family: 'Geometria Bold';
    src: url('../fonts/Geometria/GeometriaBold.otf') format('opentype'),
         url('../fonts/Geometria/GeometriaBold.woff') format('woff');
}

@font-face {
    font-family: 'Marta Italic';
    src: url('../fonts/Marta/MartaItalic.otf') format('opentype'),
         url('../fonts/Marta/MartaItalic.woff') format('woff');
}

@font-face {
    font-family: 'Freehand 521 BT';
    src: url('../fonts/Freehand521BT/Freehand521BT.ttf') format('truetype'),
         url('../fonts/Freehand521BT/Freehand521BT.woff') format('woff');
}

$light: 'Geometria Light', 'Arial', sans-serif; 
$regular: 'Geometria Regular', 'Arial', sans-serif;
$medium: 'Geometria Medium', 'Arial', sans-serif;
$bold: 'Geometria Bold', 'Arial', sans-serif;

$marta: 'Marta Italic', 'Times New Roman', serif;
$freehand: 'Freehand 521 BT', fantasy;