/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-beauty {
  background-image: url(../img/icons.png);
  background-position: -133px -64px;
  width: 64px;
  height: 60px;
}
.icon-call {
  background-image: url(../img/icons.png);
  background-position: -105px -97px;
  width: 25px;
  height: 25px;
}
.icon-email {
  background-image: url(../img/icons.png);
  background-position: -109px -78px;
  width: 22px;
  height: 15px;
}
.icon-input-name {
  background-image: url(../img/icons.png);
  background-position: -109px -56px;
  width: 20px;
  height: 22px;
}
.icon-input-phone {
  background-image: url(../img/icons.png);
  background-position: -64px -166px;
  width: 20px;
  height: 20px;
}
.icon-instagram-hover {
  background-image: url(../img/icons.png);
  background-position: -64px -131px;
  width: 35px;
  height: 35px;
}
.icon-instagram {
  background-image: url(../img/icons.png);
  background-position: -169px -131px;
  width: 35px;
  height: 35px;
}
.icon-location {
  background-image: url(../img/icons.png);
  background-position: -75px -56px;
  width: 34px;
  height: 41px;
}
.icon-modal-close {
  background-image: url(../img/icons.png);
  background-position: -75px -97px;
  width: 30px;
  height: 30px;
}
.icon-original {
  background-image: url(../img/icons.png);
  background-position: -133px 0px;
  width: 76px;
  height: 64px;
}
.icon-phone {
  background-image: url(../img/icons.png);
  background-position: -209px 0px;
  width: 17px;
  height: 21px;
}
.icon-play {
  background-image: url(../img/icons.png);
  background-position: 0px -56px;
  width: 75px;
  height: 75px;
}
.icon-presents {
  background-image: url(../img/icons.png);
  background-position: 0px -131px;
  width: 64px;
  height: 60px;
}
.icon-vk-hover {
  background-image: url(../img/icons.png);
  background-position: -134px -131px;
  width: 35px;
  height: 35px;
}
.icon-vk {
  background-image: url(../img/icons.png);
  background-position: -99px -131px;
  width: 35px;
  height: 35px;
}
.icon-youtube {
  background-image: url(../img/icons.png);
  background-position: 0px 0px;
  width: 133px;
  height: 56px;
}
