/* --------- variables --------- */


$black: #191919;
$white: #fff;
$pink: #ff004f;


/* --------- global elements styles --------- */


*,
*:before,
*:after {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

input::-ms-clear {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

body {
  font-family: $marta;
  font-size: 24px;
  color: $black;
  overflow-y: scroll;
  // overflow-x: hidden;
}

.slick-slide,
input, button, textarea,
a, a:focus, a:active {
  outline: none;
}

.icon {
  display: inline-block;
}


/* --------- buttons --------- */


.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%; height: 70px;
  font-size: 26px;
  line-height: 1;
  letter-spacing: calc(26px * .04);
  text-transform: lowercase;
  color: $white;
  background: $pink;
  border: 3px solid $pink;
  border-radius: 35px;

  &:hover {
    color: $black;
    background: $white;
  }
}

.btn--outline {
  height: 110px;
  border: 20px solid rgba($pink, .17);
  border-radius: 55px;
  background-clip: content-box;

  &:hover {
    color: $white;
    background: $pink;
    background-clip: content-box;
    border-color: rgba($pink, .39);
  }
}


/* --------- header --------- */


.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0; left: 0;
  width: 100%; height: 70px;
  padding: 0 calc((100vw - 1170px) / 2);
  background: $black;
  z-index: 3;

  &__logo {

    &-img {
      display: block;
      max-width: 100%;
    }
  }

  &__menu {

    &-item {
      display: inline-block;
      margin: 0 20px;
      vertical-align: middle;

      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    }

    &-link {
      padding: 3px 0;
      font-family: $light;
      font-weight: 300;
      font-size: 20px;
      color: $white;
      border-bottom: 1px solid transparent;
    }

    &-link--current,
    &-link:hover {
      border-color: $pink;
    }
  }

  &__burger {
    display: none;
    width: 30px;
    cursor: pointer;

    &-line {
      display: block;
      width: 100%; height: 1px;
      background: $white;
      transition: transform .3s ease;
      transform-origin: center center;
    }

    &-line:nth-child(2) {
      margin: 6px 0;
    }
  }

  &__callback {
    text-align: center;

    &-phone {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $regular;
      font-size: 22px;
      line-height: 1;
      letter-spacing: calc(22px * .035);
      color: $pink;
    }

    .icon-call {
      margin-left: 5px;
    }

    &-btn {
      font-family: $light;
      font-size: 16px;
      font-weight: 300;
      font-style: italic;
      line-height: 1;
      color: $white;
    }
  }
}


/* --------- intro --------- */


.block {
  padding-top: 85px;
  text-align: center;

  &__title {
    font-size: 40px;
    line-height: 1;
    letter-spacing: calc(40px * .035);
    text-transform: lowercase;

    &:after {
      content: '';
      display: block;
      width: 323px; height: 98px;
      margin: 12px auto 0;
      background: url('../img/bg-decor.png') no-repeat center;
    }
  }
}

.block--pattern {
  position: relative;
  background: url('../img/bg-pattern.jpg') repeat top left;
  overflow: hidden;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 50%; transform: translateX(-50%);
    width: 100%; height: 40px;
  }

  &:before {
    top: -3px;
    background: url('../img/bg-pattern-top.jpg') no-repeat center;
  }

  &:after {
    bottom: -3px;
    background: url('../img/bg-pattern-bottom.jpg') no-repeat center;
  }
}

.intro {
  height: 970px;
  padding-top: 145px; //75px + 70px header
  color: $white;
  background: url('../img/bg-intro.jpg') no-repeat center top;
  background-size: cover;

  &__title {
    margin-top: 5px;
    font-family: $freehand;
    font-size: 60px;
    line-height: 1;

    &-text {
      display: block;
      font-family: $marta;
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__subtitle {
    margin-top: 10px;
    font-family: $bold;
    font-weight: 700;
    font-size: 50px;
    line-height: 46px;
    letter-spacing: calc(50px * .04);
  }

  &__advantages {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1170px;
    width: 100%;
    margin: 50px auto 0;
    padding: 0;
    list-style: none;

    &-item {
      width: calc(100% / 3);
    }

    &-img {
      margin-bottom: 10px;
    }

    &-text {
      font-weight: 400;
      line-height: 22px;
    }
  }

  &__cta {
    margin-top: 70px;

    &-text {
      font-family: $regular;
      font-size: 20px;
      letter-spacing: calc(20px * .04);
    }

    &-services {
      margin-top: 10px;
      font-family: $medium;
      font-size: 30px;
      line-height: 28px;
    }

    &-btn {
      margin-top: 30px;
    }
  }
}


/* --------- servives --------- */


.services {
  padding-bottom: 135px;

  &__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1170px;
    width: 100%;
    margin: 50px auto -70px;
    padding: 0;
    list-style: none;

    &-item {
      width: calc(100% / 3);
      margin-bottom: 70px;

      &:hover &_content { border-color: $pink; }
      &:hover &_btn { opacity: 1; pointer-events: auto; }

      &_content {
        position: relative;
        margin-top: -37.5px;
        padding: 50px 30px;
        border: 1px solid transparent;
        border-radius: 15px;
      }

      &_img {
        position: relative;
        z-index: 1;
      }

      &_title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 26px;
        line-height: 1;

        &:after {
          content: '';
          display: block;
          width: 65px; height: 1px;
          margin: 10px auto 0;
          background: $pink;
        }
      }

      &_text {
        line-height: 1;
        letter-spacing: calc(24px * .035);
      }

      &_btn {
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        left: 50%; bottom: -17.5px;
        max-width: 230px;
        width: 100%; height: 35px;
        transform: translateX(-50%);
        line-height: 1;
        letter-spacing: calc(24px * .115);
        color: $white;
        background: $pink;
        border: 3px solid $pink;
        border-radius: 20px;

        opacity: 0;
        pointer-events: none;

        &:hover {
          color: $black;
          background: $white;
        }
      }
    }
  }
}


/* --------- videos --------- */


.videos {
  padding-bottom: 85px;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    &-item {
      position: relative;
      margin: 0 15px;
      color: $black;

      &:hover {
        color: $pink;
      }

      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }

      .icon-play {
        position: absolute;
        top: 95px; left: 50%;
        transform: translateX(-50%);
      }

      &_img {
        display: block;
        max-width: 100%;
        border-radius: 10px;
      }

      &_title {
        display: block;
        margin-top: 14px;
        font-family: $light;
        font-weight: 300;
        font-size: 20px;
        line-height: 1;
        letter-spacing: calc(20px *.035);
      }
    }
  }

  &__more {
    margin-top: 65px;
    font-size: 22px;
    line-height: 1;
    letter-spacing: calc(22px * .035);

    .icon-youtube {
      display: block;
      margin: 14px auto 0;

      &:hover {
        opacity: .8;
      }
    }
  }
}


/* --------- clients --------- */


.clients {
  padding-bottom: 80px;

  &__list {
    max-width: 1170px;
    width: 100%;
    margin: 30px auto 0;

    &-item {
      max-width: 370px;
      width: 100%;

      &:not(:first-child) { margin-left: 30px; }

      &_content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 350px;
        margin-top: -50px;
        padding: 70px 10px;
        text-align: center;
        border: 1px solid $pink;
        border-radius: 20px;
      }

      &_img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }

      &_name {
        font-family: $regular;
        line-height: 1;
        letter-spacing: calc(24px * .035);
        text-transform: uppercase;
      }

      &_text {
        margin: 20px 0 0;
        font-family: $light;
        font-weight: 300;
        font-size: 22px;
        line-height: 1;
        letter-spacing: calc(22px * .035);
      }
    }
  }

  &__slide {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.glide__track {
  margin: 0;
  padding: 0;
  list-style: none;
}

.glide__bullets {
  position: static;
  margin-top: 45px;
}

.glide__bullet {
  width: 18px; height: 18px;
  margin: 0 6px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid $pink;
  cursor: pointer;

  &.active {
    background: $pink;
  }
}


/* --------- team --------- */


.team {
  padding-bottom: 120px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1170px;
    width: 100%;
    margin: 25px auto 0;
    padding: 0;
    list-style: none;

    &-member {
      max-width: 370px;
      width: calc(100% / 3);
      margin-bottom: 65px;

      &_img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        background-clip: content-box;
        border: 9px solid rgba($pink, .14);
        border-radius: 50%;
      }

      &_name {
        margin: 13px 0 17px;
        font-family: $regular;
        line-height: 22px;
        letter-spacing: calc(24px * .035);

        &:after {
          content: '';
          display: block;
          width: 65px; height: 1px;
          margin: 10px auto 0;
          background: $pink;
        }
      }

      &_text {
        font-size: 22px;
        line-height: 24px;
        letter-spacing: calc(22px * .035);
      }
    }
  }

  &__text {
    margin: 15px 0 30px;
    letter-spacing: calc(24px * .035);
  }
}


/* --------- director --------- */


.director {
  padding-bottom: 105px;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 970px;
    width: 100%;
    margin: 60px auto 0;
    padding: 0 15px;

    &-photo {
      display: block;
      max-width: 100%;
      margin-top: 15px;
    }

    &-text {
      max-width: 615px; 
      text-align: left;
      letter-spacing: calc(24px * .035);

      &_cite {
        margin: 0;
      }

      &_phone {
        margin: 10px 0 30px;
      }

      &_link {
        font-size: 30px;
        letter-spacing: calc(30px * .035);
        color: $pink;
      }

      &_name {
        font-family: $medium;
        font-weight: 500;
        line-height: 1;
      }

      &:after {
        content: '';
        display: block;
        width: 304px; height: 137px;
        margin-left: auto;
        margin-top: -45px;
        background: url('../img/signature.png') no-repeat center;
      }
    }
  }
}


/* --------- contacts --------- */


.contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: $white;

  &__map,
  &__content {
    height: 440px; width: 50%;
    background: $black;
  }

  &__inner {
    max-width: 585px;
    width: 100%;
    padding: 45px 15px 0;
    text-align: center;
  }

  &__title {
    font-size: 36px;
    line-height: 1;
    letter-spacing: calc(36px * .035);
    text-transform: lowercase;

    &-text {
      display: block;
      margin: 7px 0 0;
      font-size: 24px;
      letter-spacing: calc(24px * .035);

      &:after {
        content: '';
        display: block;
        width: 60px; height: 1px;
        margin: 20px auto 0;
        background: $pink;
      }
    }
  }

  &__address,
  &__links-phone,
  &__links-email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__address {
    margin-top: 40px;
    margin-left: 52.5px;
    font-family: $regular;
    font-size: 18px;
    line-height: 1;

    .icon-location {
      margin-right: 27.5px;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    margin-left: 84px;

    &-phone,
    &-email {
      font-family: $regular;
      font-size: 20px;
      line-height: 1;
      color: $white;

      .icon {
        margin-right: 12px;
      }
    }

    &-email {
      margin-left: 35px;
      font-size: 18px;
    }
  }

  &__socials {
    margin-top: 35px;

    &-text {
      font-family: $light;
      font-weight: 300;
      font-size: 18px;
      line-height: 1;
    }

    &-links {
      margin-top: 20px;
    }

    &-item {
      display: inline-block;
      width: 35px; height: 35px;
      background-image: url('../img/icons.png');
    }

    &-vk {
      margin-right: 10px;
      background-position: -99px -131px;

      &:hover {
        background-position: -134px -131px;
      }
    }

    &-instagram {
      margin-left: 10px;
      background-position: -169px -131px;

      &:hover {
        background-position: -64px -131px;
      }
    }
  }
}


/* --------- form --------- */


form {

  [type="text"],
  [type="email"],
  [type="tel"] {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 10px 50px;
    font-family: $regular;
    font-size: 18px;
    letter-spacing: calc(18px * .065);
    color: $black;
    background: transparent;
    border: none;
    border-bottom: 1px solid $black;

    &::-webkit-input-placeholder { color: $black; }
    &::-moz-input-placeholder { color: $black; opacity: 1; }
  }

  [type="submit"] {
    margin-top: 35px;
    font-family: $marta;
    font-size: 22px;
  }

  .btn[type="submit"]:not(hover) {
    display: block;
    width: 100%; height: 60px;
    line-height: 44px;
    text-align: center;
  }
}


/* --------- modal --------- */


.modal {
  position: relative;
  max-width: 370px;
  margin: 0 auto;
  padding: 100px 15px 70px;
  text-align: center;
  background: url('../img/bg-modal.png') no-repeat right center $white;

  &__title {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: calc(30px * .065);
  }

  &__subtitle {
    margin-top: 30px;
    margin-bottom: -35px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: calc(24px * .065);

    &-link {
      display: block;
      color: $pink;
    }
  }

  &__input {
    position: relative;
    display: block;
    margin-bottom: 13px;
    padding: 0 20px;

    .icon {
      position: absolute;
      top: 50%; left: 30px;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }
}

.modal--thanks {

  .modal__title {
    margin-bottom: 0;
  }
}

.mfp-ready ~ .header {
  padding-right: calc((100vw - 1170px) / 2 + 17px);
}

.mfp-close.mfp-close.mfp-close {
  width: 30px; height: 30px;
  font-size: 0;
  background-image: url('../img/icons.png');
  background-position: -75px -97px;
}

.mfp-close.mfp-close.mfp-close,
.mfp-close.mfp-close.mfp-close:active {
  top: 10px; right: 10px;
}

// .mfp-wrap .mfp-content {
//     transform: translateY(-600px);
//     transition: all .25s ease;
//     will-change: transform;
// }

// .mfp-ready .mfp-content {
//   transform: translateY(0);
// }